#district-dropdown .VirtualizedSelectFocusedOption {
  background-color: #595959;
  color: white;
}

#map-forecast-model .VirtualizedSelectFocusedOption {
  background-color: #595959;
  color: white;
}

.Select-value {
    background-color: #111111;
}

#react-select-2--value-item {
    color:white;
}

#react-select-3--value-item {
    color:white;
}

.Select-menu-outer {
    background-color: #111111;
}

html {background-color: #111111}

::-webkit-scrollbar {
  background-color: #595959;

}
::-webkit-scrollbar-thumb {
background-color: slategrey;important;
}

#model-check label:nth-of-type(1) [type="checkbox"]{
}